.row-header{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
}

.collapsed{
    display: none ;
}

.smaller-icon {
    font-size: 0.6em;
}